{% extends "../layout.pongo.html" %}

{% block title %}Editing contact number {{id}}{% endblock %}


{% block stylesheets %}
<style type="text/css">
    body {
        padding-top: 50px;
    }
</style>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pigeon</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Pigeon example</h1>

        <div>

            edit
        </div>
    </div>

</div><!-- /.container -->
{% endblock %}